@{
    Layout = "~/Views/Shared/_LayoutMasterPage.cshtml";
}

@section Crumb
{
    <a href="/template/template/MenuManage" class="tip-bottom">
        <i class="icon-home"></i> 菜单管理
    </a>
}


